.logoContainer {
  background-color: var(--yellow-honey);
  border-radius: 50%;

  box-shadow: 0.1em 0.1em 0em var(--box-shadow);

  margin: 0 auto;
  width: 5rem;
  position: relative;
  top: 0%;
}

.logoContainer > img {
  width: 100%;
  padding: .8rem;
}

.logoContainer > span {
  position: absolute;
  top: 42%;
  left: -20%;

  /* color: var(--whitecocktail); */
  font-weight: 800;
  font-size: 1.6rem;
  text-shadow: 3px 4px 0px var(--blue);
  text-transform: uppercase;
  letter-spacing: .6rem;
}

.logoContainer > span:last-child {
  left: 62%;
}

@media(min-width: 480px) {
  .logoContainer {
    position: relative;
    width: 9rem;
  }

  .logoContainer > img {
    padding: .1rem;
  }
}

@media(max-width: 479px) {
  .logoContainer > span {
    display: none;
  }
}
